@charset "UTF-8";
/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Space Grotesk', sans-serif;
*/

h1, h2, h3, h4, .navbar-brand {
	font-family: 'Noto Sans KR', sans-serif;
	color:#006064;  /* 900 색상 */
}

body{
	font-family:'Space Grotesk', sans-serif;
	background-color:#00ACC1;  /* 600 색상 */
}

.navbar{
	border-bottom: #B2EBF2 3px solid;   /* 100 색상 */
}